samples/nodered/flows_raspi.json
[{"type":"tab","id":"1026b913.45a33f","label":"Sheet 1"},{"id":"5f3c4723.29be9","type":"mqtt-broker","broker":"messaging.quickstart.internetofthings.ibmcloud.com","port":"1883","clientid":"quickstart:b827eba84426"},{"id":"e9a2734f.586d3","type":"inject","name":"Trigger","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":99,"y":158,"z":"1026b913.45a33f","wires":[["c6557399.d17b9"]]},{"id":"c6557399.d17b9","type":"exec","command":"cat","append":"/sys/class/thermal/thermal_zone0/temp","useSpawn":"","name":"getCpuTemp","x":234,"y":158,"z":"1026b913.45a33f","wires":[["d8f55d4f.b056d8"],[],[]]},{"id":"337f4798.7f7bf8","type":"debug","name":"debug json string","active":true,"console":"false","complete":"false","x":956,"y":70,"z":"1026b913.45a33f","wires":[]},{"id":"1ef98009.9c477","type":"exec","command":"cat","append":"/proc/loadavg","useSpawn":"","name":"getLoadAvg","x":528,"y":145,"z":"1026b913.45a33f","wires":[["a197dbb9.1755b"],[],[]]},{"id":"d8f55d4f.b056d8","type":"function","name":"cpuTempFn","func":"//Store the datapoints in the 'data' variable. \n//Making it global\nif (!context.global.hasOwnProperty(\"data\")) {\n\tcontext.global.data = {};\n\tcontext.global.data.d = {\n\t\t\"myName\" : \"myPi\"\n\t};\n}\n\nvar cpuTemp = msg.payload;\n// The read CPU temp is in milli Centigrade\ncpuTemp = cpuTemp / 1000;\n\ncontext.global.data.d.cputemp = cpuTemp;\n\nmsg.payload = null;\nreturn msg;","outputs":1,"x":382,"y":145,"z":"1026b913.45a33f","wires":[["1ef98009.9c477"]]},{"id":"a197dbb9.1755b","type":"function","name":"Aggregator SineGenerator","func":"// Read the loadavg file for average jobs\nvar full = msg.payload;\nvar splitVals = full.split(\" \");\ncontext.global.data.d.cpuload = splitVals[0];\n\n// Code for sine wave generation\nif (!context.hasOwnProperty(\"count\")) {\n\tcontext.count = 1;\n}\n\nvar duration = 16; // number of points in the sine wave\nvar maxValue = 50; // max and min value in sine wave\nvar minValue = -50;\n\nvar sineValue = Math.sin(2 * Math.PI * context.count / duration)\n\t\t* (maxValue - minValue) / 2;\ncontext.count++;\ncontext.global.data.d.sine = sineValue;\n\n//The final json obj is in 'data'\nmsg.payload = context.global.data;\nreturn msg;","outputs":1,"x":716,"y":132,"z":"1026b913.45a33f","wires":[["428c788c.8cf87"]]},{"id":"428c788c.8cf87","type":"iot out","name":"iot-raspi","deviceId":"","messageType":"rpi-quickstart","x":935,"y":197,"z":"1026b913.45a33f","wires":[]},{"id":"8f94f30a.d875e8","type":"comment","name":"Events","info":"The events supported are \n1. CPU temperature in degree centigrade\n2. CPU load average\n3. Simulated Sine wave\n","x":89,"y":39,"z":"1026b913.45a33f","wires":[]},{"id":"17f8bd47.11cba3","type":"comment","name":"Wire to debug node if want to print the json msg","info":"","x":908,"y":26,"z":"1026b913.45a33f","wires":[]}]